# Rename to .env and set secure values in production
ADMIN_USERNAME=kobfestner
# Provide one of the following:
 ADMIN_PASSWORD=YourStrongPassword123!
# or a bcrypt hash:
# ADMIN_PASSWORD_HASH=$2a$10$examplehashexamplehashexamplehashexampleha
SESSION_SECRET=please-change-this-secret

